@import "__colors";
body{
  margin: 0 40px;
}
.loultimo__titleCont{
  background-color: $titles-color;
  color: $text-colorPrimary;
}

a{
  text-decoration: none;
  color: $text-colorPrimary;
  background-color: $text-colorSecondary;
}

.footer{
  background-color: $footernav-color;
  color: $text-colorPrimary;
}

.head{
  height:100px;
}

.loultimo__img{
  cursor: pointer;
}

.header__elem {
  position: relative;
}

.header__section{
  position: absolute;
  display: inline-block;
}

.header__search{
  position: absolute;
  display: inline-block;
  left: 130px;
  top: 10px;
}

.header__redes{
  position: absolute;
  display: inline-block;
  right: 40px;
}

%logosize{
  height: 100px;
  width: 300px;
}
.header__elem--logo{
  position: absolute;
  display: inline-block;
  @extend %logosize;
  left: 30%;
 }


.header__logo{
  width: 100%;
}

.header__elem--nav {
 position: absolute;
 top: 110px;
 height: 500px;
 width: 100%;
}

.header__navElem{
  padding: 15px 35px;
}

.header__icon--cloud{
  width: 15px;
  height: 15px;
}

.loultimo__titleCont{
  width: 80%;
  height: 60%;
}

.loultimo:nth-child(1){
  width: 85%;
}
